<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quidvis.moneydrop">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".network.VolleySingleton"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".activity.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GetStartedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RegistrationSuccessfulActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PasswordResetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ImagePreviewActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.UserLoanActivity"
            android:label="@string/title_activity_loan_request"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.TransactionsActivity"
            android:label="@string/transactions"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.CardsActivity"
            android:label="@string/cards"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.LoanApplicantsActivity"
            android:label="@string/loan_applicants"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.LoanDetailsActivity"
            android:label="@string/loan_details"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.LoanApprovedActivity"
            android:label="@string/loan_approved"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.BankAccountsActivity"
            android:label="@string/accounts"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.TransactionReceiptActivity"
            android:label="@string/accounts"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_2e24e05994f91052031815f4f3e31edbcaedf4ce"/>
    </application>

</manifest>